#bodyLayout {
    display: grid;
    background-color: #3f3e3ec0;
}

#head {
    height: 9.5vh;
    width: 96vw;
    background-color: #eeebebd5;
    margin: 1vh 1vw 1vh 1vw;
}

#head img {
    height: 75%;
    margin: 1.25vh 0 0 7.5vw;
    border: solid;
    border-radius: 50%;
    border-color: #544867;
}

#head h1 {
    text-align: center;
    margin-top: -6.5vh;
    color: #544867;
}

#mobileMenu {
    display: none;
    position: absolute;
    top: 1vh;
    left: 6vw;
    font-size: 7.125vh;
    color: #000000;
}

#contact {
    height: 6.5vh;
    width: 96vw;
    background-color: #eeebebd5;
    margin: 0 0 1vh 1vw;
}

#contact img {
    height: 2.5vw;
    width: 2.5vw;
    display: inline;
}

#contact p {
    text-align: center;
    border-width: 0.3px;
    max-width: 15vw;
}

#contact a {
    color: #000000;
}

#social {
    position: relative;
    top: 1vh;
    left: 25vw;
}

#enFrContainer {
    color: #000000;
    float: right;
    position: relative;
    top: -5.5vh;
    right: 1vw;
    max-width: 15vw;
}

#enFrContainer img {
    height: 4.5vh;
    width: 5vw;
    margin-bottom: 1vh;
}

#enFrContainer p {
    display: inline-block;
}

#enFrContainer a {
    color: red;
}

#menuContainer {
    height: 73.5vh;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 0 0.5vw 1vh 4.1vw;
    padding: 0;
}

#menu {
    position: absolute;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

#menu a {
    text-decoration: none;
}

#homeSelector {
    border-radius: 30% 0 0 0;
    margin-top: 7%;
}

#hobbySelector {
    border-radius: 0 0 0 40%;
}

#homeMain {
}

#speakMain {
    display: none;
}

#codeMain {
    display: none;
}

#schoolMain {
    display: none;
}

#workMain {
    display: none;
}

#skillMain {
    display: none;
}

#hobbyMain {
    display: none;
}

#foot {
    height: 5.5vh;
    width: 96vw;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin: 0 1vw 0 1vw;
}

#copyright {
    position: relative;
    left: 40vw;
    top: 0.75vw;
    max-width: 15vw;
    text-align: center;
}

#webtools {
    position: relative;
    left: 76vw;
    top: -4vh;
    max-width: 20vw;
    text-align: center;
}

.selector {
    width: 70%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0.3px;
    padding: 5% 2.5% 5% 2.5%;
    font-size: 2.5vh;
    text-align: right;
    margin-bottom: 3%;
    color: #544867;
    font-size: 1.6rem;
    float: right;
}

.selector:hover {
    background-color: #544867;
    color: #FFFFFF;
}

.main {
    height: 73.5vh;
    font-size: 30px;
    background-color: #544867;
    color: #FFFFFF;
    overflow: scroll;
}

.main h1 {
    text-align: center;
}

.articleLayout {
    border: 0.15rem solid #FFFFFF;
    padding: 5% 5% 5% 2%;
    min-width: 10vw;
    min-height: 20vh;
    margin: 0;
    position: absolute;
    top: 55.25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: scroll;
    height: 89.25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleLayout ul {
    list-style-type: none;
}

/*  Cell Phones */
@media screen and (max-width: 1000px) {
    #menuContainer {
        display: none;
    }

    #contact {
        display: none;
    }

    .main {
        height: 80vh;
        margin: 0 1vw 1vh 4.1vw;
    }

    #head img {
        position: relative;
        left: 75vw;
    }

    #mobileMenu {
        display: block;
    }
  }