#bodyLayout {
    display: grid;
    background-color: #3f3e3ec0;
}

#closebtn {
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 5em;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    z-index: 1;
}

#mobileOverlay {
    height: 90.5vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 9.5vh;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 1s;
    color: #FFFFFF;
}

#mobileOverlayContent {
    /*border: 0.15rem solid #FFFFFF;*/
    padding: 15% 5% 5% 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    height: 100%;
    width: 99.5%;
    display: none;
}

#mobileOverlayContent li {
    text-align: center;
    margin: 5% 0 5% 0;
    font-size: 3vh;
}

#head {
    height: 9.5vh;
    width: 95.5vw;
    background-color: #eeebebd5;
    margin: 1vh 1vw 1vh 1vw;
}

#head img {
    height: 75%;
    margin: 1.25vh 0 0 7.5vw;
    border: solid;
    border-radius: 50%;
    border-color: #000000;
}

#head h1 {
    text-align: center;
    margin-top: -6.5vh;
}

#mobileMenu {
    display: none;
    position: absolute;
    top: 1.75vh;
    left: 4vw;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    overflow: auto;
    width: 12%;
}

#menuIcon {
    background-color: #FFFFFF;
    border: solid #000000;
    width: 7.5vh;
    height: 7.5vh;
    margin: 1vh 0 0 2vw;
    padding: 1vh 0 0 0.65vh;
    float: left;
    cursor: pointer;
    display: none;
}

#contact {
    height: 6.5vh;
    width: 95.5vw;
    background-color: #eeebebd5;
    margin: 0 0 1vh 1vw;
}

#contact img {
    height: 2.5vw;
    width: 2.5vw;
    display: inline;
}

#contact p {
    text-align: center;
    border-width: 0.3px;
    max-width: 15vw;
}

#contact a {
    color: #000000;
}

#social {
    position: relative;
    top: 1vh;
    left: 25vw;
}

#enFrContainer {
    color: #000000;
    float: right;
    position: relative;
    top: -5.5vh;
    right: 1vw;
    max-width: 15vw;
}

#enFrContainer img {
    height: 4.5vh;
    width: 5vw;
    margin-bottom: 1vh;
}

#enFrContainer p {
    display: inline-block;
}

#enFrContainer a {
    color: red;
}

#menuContainer {
    height: 73.5vh;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 0 0.5vw 1vh 4.1vw;
    padding: 0;
}

#menu {
    position: absolute;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

#menu a {
    text-decoration: none;
}

#homeSelector {
    border-radius: 30% 0 0 0;
    margin-top: 7%;
}

#hobbySelector {
    border-radius: 0 0 0 40%;
}

#homeMain {
}

#speakMain {
    display: none;
}

#codeMain {
    display: none;
}

#schoolMain {
    display: none;
}

#workMain {
    display: none;
}

#skillMain {
    display: none;
}

#hobbyMain {
    display: none;
}

#foot {
    height: 5.5vh;
    width: 95.5vw;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin: 0 1vw 0 1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 95%;
}

#copyright {
    position: relative;
    top: 0.5vh;
    left: 8vw;
}

#webtools {
    position: relative;
    top: 0.5vh;
    left: 35vw;
    text-align: right;
}

.menuBar1, .menuBar2, .menuBar3 {
    width: 5.5vh;
    height: 1vh;
    background-color: #000000;
    margin-bottom: 14%;
    transition: 0.4s;
}

.change .menuBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-1.75vh, 1.75vh);
}
  
.change .menuBar2 {
    opacity: 0;
}
  
.change .menuBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-1.75vh, -1.75vh);
}

.mobileSelector {
    text-align: right;
    cursor: pointer;
}

.selector {
    width: 70%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0.3px;
    padding: 5% 2.5% 5% 2.5%;
    font-size: 2.5vh;
    text-align: right;
    margin-bottom: 3%;
    color: #544867;
    font-size: 1.6rem;
    float: right;
    cursor: pointer;
}

.selector:hover {
    background-color: #544867;
    color: #FFFFFF;
}

.main {
    height: 73.5vh;
    font-size: 30px;
    background-color: #544867;
    color: #FFFFFF;
}

.main h1 {
    text-align: center;
}

.articleLayout {
    /*border: 0.15rem solid #FFFFFF;*/
    padding: 5% 5% 5% 2%;
    min-width: 10vw;
    min-height: 20vh;
    margin: 0;
    position: absolute;
    top: 55.25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 89%;
    width: 99.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleLayout ul {
    list-style-type: none;
}

/*  Cell Phones */
@media screen and (max-width: 1100px) {
    #bodyLayout {
        padding: 0;
    }

    #head {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100vw;
    }

    #menuIcon {
        display: inline-block;
        z-index: 1;
    }

    #menuContainer {
        display: none;
    }

    #contact {
        display: none;
    }

    #head img {
        position: relative;
        left: 67.5vw;
    }

    #head h1 {
        position: relative;
        left: 14vw;
        width: 70vw;
        padding: 0;
    }

    #mobileMenu {
        display: block;
    }

    #foot {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100vw;
        top: 94.5vh;
    }

    #copyright {
        left: 3vw;
    }

    #webtools {
        display: none;
    }

    .main {
        position: absolute;
        top: 9.5vh;
        height: 85vh;
        width: 100vw;
    }

    .row {
        margin: 0;
    }
  }
