#bodyLayout {
    display: grid;
    background-color: #3f3e3ec0;
}

#head {
    height: 9.5vh;
    width: 96vw;
    background-color: #eeebebd5;
    margin: 1vh 0 1vh 1vw;
}

#head img {
    width: 5vw;
    height: 8.5vh;
    margin: 0.5vh 0 0 7.5vw;
    border: solid;
    border-radius: 50%;
    border-color: #544867;
}

#head h1 {
    text-align: center;
    margin-top: -6.5vh;
    color: #544867;
}

#contact {
    height: 6.5vh;
    width: 96vw;
    background-color: #eeebebd5;
    margin: 0 0 1vh 1vw;
}

#contact img {
    height: 2.5vw;
    width: 2.5vw;
    display: inline;
}

#contact p {
    text-align: center;
    border-width: 0.3px;
    max-width: 15vw;
}

#contact a {
    color: #000000;
}

#social {
    position: relative;
    top: 1vh;
    left: 25vw;
}

#enFrContainer {
    color: #000000;
    float: right;
    position: relative;
    top: -5.5vh;
    right: 1vw;
    max-width: 15vw;
}

#enFrContainer img {
    height: 4.5vh;
    width: 5vw;
    margin-bottom: 1vh;
}

#enFrContainer p {
    display: inline-block;
}

#enFrContainer a {
    color: red;
}

#menuContainer {
    height: 73.5vh;
    border-color: red;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 0 0.5vw 1vh 4.1vw;
}

#menu {
    border-color: black;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}

#homeSelector {
    border-radius: 30% 0 0 0;
    margin-top: 5%;
}

#hobbySelector {
    border-radius: 0 0 0 40%;
}

#homeMain {
}

#speakMain {
    display: none;
}

#codeMain {
    display: none;
}

#schoolMain {
    display: none;
}

#workMain {
    display: none;
}

#skillMain {
    display: none;
}

#hobbyMain {
    display: none;
}

#foot {
    height: 5.5vh;
    width: 96vw;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin-left: 1vw;
}

#copyright {
    position: relative;
    left: 40vw;
    top: 0.75vw;
    max-width: 15vw;
    text-align: center;
}

#webtools {
    position: relative;
    left: 76vw;
    top: -4vh;
    max-width: 20vw;
    text-align: center;
}

.selector {
    width: 77%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0.3px;
    padding: 5% 3% 5% 0;
    font-size: 2.5vh;
    text-align: right;
    margin: 0 0 3% 32%;
    color: #544867;
}

.selector:hover {
    background-color: #544867;
    color: #FFFFFF;
}

.main {
    height: 73.5vh;
    //text-align: center;
    font-size: 30px;
    background-color: #544867;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleLayout {
    border-style: solid;
    border-radius: 35%;
    //position: relative;
    //margin: auto;
    //width: 60%;
    padding: 10%;

}
